<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Halo, Apa Kabar?</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main.css' %}">

</head>

<body>
    <div class="container justify-content-center text-center p-5">
        <h1>Halo, Apa Kabar?</h1>
    </div>
    <form action="{% url 'tambah' %}" method="POST">
        {% csrf_token %}
        <div id="form_status" class="container justify-content-center text-center">
            {{form.status}}
        </div>
        <div class="container justify-content-center text-center mt-3">
            <button type="submit" class="btn" id="add-btn">
                <h6>submit</h6>
            </button>
        </div>
    </form>
    <div class="container justify-content-center text-center p-5">
        <table>
            {% for status in list_status %}
            <tr>
                <h6>
                    {{ status.waktu_input }}
                </h6>
                <h4>
                    {{ status.status }}
                </h4>
            </tr>
            <br>
            <br>
            {% endfor %}
        </table>
    </div>
</body>

</html>