@import url('https://fonts.googleapis.com/css?family=Oswald|Quicksand&display=swap');

h1, h4 {
    font-family: 'Oswald', sans-serif;
}

h6 {
    font-family: 'Quicksand', sans-serif;
}

.btn {
    background-color: black;
}

button h6 {
    color: white;
}

.btn:hover {
    background-color: #444444;
}
